
        .top{
            height:60px;
            background:black;
            display:flex;
            justify-content:center;
        }
        .top div{
            display:flex;
            line-height:60px;
            text-align:center;
        }
        .img{
            margin-right:45px;
        }
        .one{
            font-size:16px;
            color:white;
        }
        .one div{
            margin-right:45px;
            justify-content:center;
        }
        /* .top div:nth-child(2) div{
            margin-right:45px;
            justify-content:center;
        } */
        .bg{
            width:16px;
            height:16px;
            margin-top:23px;
            background:transparent url(./images/icon.png) no-repeat scroll -230px -26px;
        }
        .tw{
            margin-right:25px;
            font-size:13px;
            color:rgb(209,209,209);
        }
        .th{
            margin-right:25px;
            font-size:13px;
            color:white;
        }
        .three{
            width:180px;
            height:24px;
            margin-top:18px;
            background:url(./images/search.png) no-repeat;
            margin-right:25px;
            font-size:13px;
            color:rgb(117,117,117);
            display:flex;
            justify-content:flex-start;
            align-items:center;
        }


        /*middle部分*/
        .middle{
            display:flex;
            justify-content:center;
        }
        .left{
            display:flex;
            text-align:center;
            flex-direction:column;
            margin-right:80px;
            margin-top:50px;
        }
        .title{
            font-size:20px;
        }
        .ar{
            font-size:13px;
            margin-top:8px;
        }
        .br{
            font-size:11px;
            margin-bottom:5px;
        }
        .right{
            display:flex;
            justify-content:center;
            flex-direction:column;
            margin-top:50px;

        }
        /* .outrecord{
            width:312px;
            height:312px;
            border:1px solid rgb(209,209,209);
            border-radius:50%;
            overflow:hidden;
            margin-left:49px;
        } */
        .record{
            width:300px;
            height:300px;
            border:1px solid rgb(209,209,209);
            border-radius:50%;
            overflow:hidden;
            /* margin-left:5px;
            margin-top:5px; */
            margin-left:50px;
            position:relative;
        }
        .splice2{
            position:absolute;
            /* top:5px; */
            margin-left:-300px;
        }
        @keyframes animation2{
            0%{
                transform:rotate(0deg);
            }
            100%{
                transform:rotate(360deg);
            }
        }
        .record img{
            width:300px;
            height:300px;
            animation:animation2 5s linear infinite normal;
        }
        .button{
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
        }
        #stops{
            width:40px;
            height:40px;
            background:transparent url(./images/button.jpg) no-repeat scroll -110px 0px;
            /* margin-right:30px; */
        }






        /*进度条和黄色圆圈*/
        #jindutiao{
            width: 300px;
            height: 5px;
            background:rgb(209,209,209);
            position:relative;
        }
        #jindu{
            width:300px;
            height:5px;
            background:rgb(161, 161, 4);
            position:absolute;
            left:0px;

        }
        #btn{
            width:11px;
            height:11px;
            background:transparent url(./images/button.jpg) no-repeat scroll -23px 0px;
            position:absolute;
            float:left;
        }
        
        #time{
            color:rgb(209,209,209);
            font-size:13px;
            
        }
        #volumn{
            width:25px;
            height:17px;
            background:transparent url(./images/button.jpg) no-repeat scroll -43px 0px;
        }
        #onload{
            width:200px;
            height:41px;
            background:transparent url(./images/button.jpg) no-repeat scroll 0px -47px;
            margin-top:50px;
            margin-left:101px;
            display:flex;
            align-items:center;
            justify-content:center;
            
        }
        #on{
            background:transparent url(./images/button.jpg) no-repeat scroll 0px 0px;
            width:18px;
            height:16px;
        }
        .end{
            display:flex;
            flex-direction:row;
            margin-top:30px;
            margin-left:20px;
            /* justify-content:center; */
        }
        .touxiang img{
            width:54px;
            height:54px;
        }
        .touxiang{
            width:54px;
            height:54px;
            border:1px solid white;
            border-radius:50%;
            overflow:hidden;
        }
        .qipao{
            width:250px;
            height:54px;
            background:url(./images/qipao.jpg) no-repeat;

        }
        .qipao img{
            width:15px;
            height:15px;
            margin-top:-10px;
            margin-left:25px;
        }
        .qipao p:nth-child(1){
            color:rgb(134, 128, 128);
            font-size:10px;
            margin-top:5px;
            margin-left:25px;           
        }
        /* .qipao p:nth-child(2){
            color:black;
            font-size:10px;
            margin-top:5px;
            margin-left:25px;           
        } */
        .second{
            display:flex;
            flex-direction:row;
            /* justify-content:center; */
            align-items:center;

        }
        .p2{
            color:black;
            font-size:10px;
        }
        .p3{
            color:purple;
            font-size:13px;
        }
        /*最下方*/
        .bottom{
            display:flex;
            flex-direction:column;
            justify-content:center;          
        }
        .one1 span{
            font-size:11px;
        }
        .two1{
            display:flex;
            flex-direction:row;
            margin-right:15px;
        }
        .pic{
            background:url(./images/touxiang.jpg);
            border:1px solid rgb(209,209,209);
            width:54px;
            height:54px;
        }
        .three1{
            display:flex;
            justify-content:space-between;
            flex-direction:row;
        }
        .biaoqing{
            background:url(./images/biaoqing.png);
        }
        .pinglun{
            width:50px;
            height:30px;
            background:yellow;
            color:white;
            font-size:16px;
            text-align:center;
            line-height:30px;
        }